.columna {
	background-color: #DFF0D8;
	border: 1px solid #333;
}
.columnasinborde {
	background-color: #a5a5a5;
	
}
 .bottom { position: absolute; text-align: center; width: 100%; bottom: 0px; width: 100%; }

	
}
